body {
	padding-top: 0;
	background: $white;
}

 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

.loan-list-menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;
	margin-bottom: 15px;

	li {
		display: flex;
	    flex-flow: row nowrap;
	    align-items: center;
	    margin: 0 0;
	    flex-basis: 48%;
	    margin-bottom: 20px;

		a {
			color: $black;
			padding: 0;
			transition: $animate;
		  	position: relative;
		  	margin-bottom: 0;
		  	font-weight: 400;

		  	&:before {
		        content: "";
		        position: absolute;
		        bottom: -10px;
		        width: 0px;
		        height: 3px;
		        margin: 3px 0 0;
		        transition: $animate;
		        transition-duration: 0.75s;
		        opacity: 0;
		        background-color: $green;
		        right: 0;
		    }

		    &:hover {
		    	&:before{
	        		width: 100%;
	        		opacity: 1;
	        		left: 0;
	        	}
		    }
		}
	}
}
