.btn-wrapper {
	&.btn-center {
		text-align: center;
		justify-content: center;
	}

	&.flex-btn {
		display: flex;
	    flex-flow: row nowrap;
	    align-items: center;
	    margin: 0 0;
	    flex-basis: 48%;
	    margin-bottom: 35px;
	}
}

.btn {
	transition: all .3s ease-in-out;
	font-family: $paragraph-font;
	font-size: 15px;
	padding: 15px 35px;
	line-height: 1.2;
	font-weight: 700;
	max-width: 100%;
	margin-bottom: 0;

	&.btn-large {
		width: 100%;
	}

	&.btn-white{
		background: $white;
		color: $black;
		border: none;

		&:hover {
			transform: scale(1.1);
		}
	}

	&.btn-green {
		background: $green;
		color: $white;
		border: none;
		border-radius: 0;

		&:hover {
			transform: scale(1.1);
			color: $white;
		}
	}

	&.btn-white-underline {
		/*color: $white;
		font-size: 15px;
		font-weight: 700;
		line-height: 1.5;
		background-color: transparent;
		margin-bottom: 5px;
		transition: $animate;
		&:after {
			content: "";
		        position: absolute;
		        bottom: -10px;
		        width: 100%;
		        height: 3px;
		        margin: 3px 0 0;
		        transition: $animate;
		        transition-duration: 0.75s;
		        opacity: 1;
		        background-color: $white;
		        right: 0;
		}

		&:hover {
			color: $white;
			&:after {
				height: 100%;
			}
		}*/

		color: $white;
		padding: 0;
		transition: $animate;
	  	position: relative;
	  	margin-bottom: 0;
	  	font-weight: 700;
	  	text-transform: uppercase;
	  	font-size: 15px;

	  	&:before {
	        content: "";
	        position: absolute;
	        bottom: -10px;
	        width: 100%;
	        height: 3px;
	        margin: 3px 0 0;
	        transition: $animate;
	        transition-duration: 0.75s;
	        opacity: 1;
	        background-color: $white;
	        right: 0;
	    }

	    &:hover {
	    	&:before{
        		width: 0;
        	}
	    }
	}
}




