footer {
	min-height: 300px;

	@include media-breakpoint-down(md) {
		margin-bottom: 75px;
	}

	.row {
		padding-bottom: 0;
		padding-top: 0;
	}

	#footer-top {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	#footer-bottom {
		padding-bottom: 45px;
		padding-top: 45px;
		border-top: 2px solid $lightgrey;
	}

	.social-row {
		a {
			.fa-circle {
				&:before {
					color: $lightgrey;
				}
			}
		}
	}

	ul, ul li {
		list-style-type: none;
		padding-left: 0;

		li.menu-item {
			a {
				color: $grey;
				font-size: 13px;
				line-height: 1.3;
				transition: $animate;

				&:hover {
					color: $green;
				}
			}
		}
	}

	.image-wrapper {
		margin-bottom: 25px;
	}

	.address {
		color: $grey;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.3;
		a {
			color: $grey;
			font-size: 13px;
			font-weight: 400;
			transition: $animate;

			&:hover {
				color: $green;
			}
		}
	}

	
	.container {
		@include media-breakpoint-up(lg) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.col-sm-12 {
		@include media-breakpoint-down(md) {
			flex-basis: 50%;
		}

		&.column1 {
			@include media-breakpoint-down(md) {
				order: 5;
			}
		}
	}
	
}
