.row .gform_wrapper {
	label.gfield_label {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
	}

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea, select {
		padding: 8px;
		color: $purple;
		font-size: 18px;
		font-weight: 400;
		border: 1px solid $grey;
		line-height: 1.3;

		&:active, &:focus {
			border-width: 2px;
			border-color: $green;
			outline-color: $green;
		}
	}

	.gform_footer {
		text-align: center;
		input[type="submit"] {
			padding: 15px 45px;
			color: $white;
			background: $green;
			border: 2px solid $green;
			border-radius: 4px;
			transition: $animate;

			&:hover, &:active, &:focus {
				background: transparent;
				color: $green;
			}

			&:active, &:focus {
				outline-color: $green;
			}			
		}
	}
}
