html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.visually-hidden {
	display: none;
}

.no-p-gutters {
	padding-left: 0;
	padding-right: 0;
}

@include media-breakpoint-down(md) { 
	.no-gutters {
		margin-left: -15px;
		margin-right: -15px;
	}	
}

.sm-hidden {
	display: block;
	@include media-breakpoint-down(sm) {
		display: none !important;
	}
}

.md-hidden {
	display: block;

	@include media-breakpoint-between(sm, md) {
		display: none !important;
	}
}

.lg-hidden {
	display: block;

	@include media-breakpoint-up(lg) {
		display: none !important;
	}
}

.sm-show {
	display: none;

	@include media-breakpoint-down(sm) {
		display: block !important;
	}
}

.md-show {
	display: none;

	@include media-breakpoint-between(sm, md) {
		display: block !important;
	}
}

.lg-show {
	display: none;
	@include media-breakpoint-up(lg) {
		display: block !important;
	}
}
.jumbotron > .container > .row {
	min-height: 450px;
}

.jumbotron {
	background-color: #fff;
	padding: $jumbotron-padding;
	margin-bottom: 60px;
	border-radius: 0;
	// margin-top: -100px;
	background-size: cover;
	background-repeat: no-repeat;
	
	h1, h2, h3, p {
		color: $white;
	}

	p {
		font-size: 13px;
		line-height: 2.2;
	}

	.btn {
		margin-bottom: 15px;
	}

	&.hero__home {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		.attach-bottom {
			position: absolute;
			width: 300px;
			left: calc(50% - 150px);
			right: calc(50% -150px);
			bottom: 25px;

			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&.hero__home {
		height: 98vh;
	}

	&.hero__buy-home, &.hero__home-refinance {
		margin-bottom: 0;
	}

	&.hero__loan-options {
		min-height: 500px;

		@include media-breakpoint-down(sm) {
			min-height: 75vh;
		}
		> .container > .row {
			min-height: 500px;

			@include media-breakpoint-down(sm) {
				min-height: 75vh;
			}
		}
	}

	&.hero__about-us {
		background-position-y: 30%;
		
		&> .container > .row {
			min-height: 55vh;
		}
	}

	p.hero-content {
		color: $white;
		font-size: 20px;
		font-family: $paragraph-font;
		line-height: 1.2;
		font-weight: 300;
	}

	a.hero-bottom-link {
		color: $white;
		font-family: $paragraph-font;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.2;
		transition: $animate;
	}

	&.hero__single {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.container .row {
			@include media-breakpoint-up(md) {
				min-height: 450px;
			}
		}

		.entry-meta {
			color: $white;
		}
	}
}



hr {
	margin-top: 60px;
	margin-bottom: 60px;

	&.green {
		border-color: $green;
	}

	&.small {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	&.thick {
		border-width: 4px;
	}
}

.image_wrapper {
	&.center img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

section {
	&.white-bg {
		background-color: $white;
	}

	&.green-bg {
		background-color: $green;
	}

	&.grey-bg {
		background-color: $lightgrey;
	}

	&.purple-bg {
		background-color: $purple;
	}

	&.fullscreen-section {
		min-height: 85vh;
		display: flex;
		flex-direction: row;

		&.align-items-center {	
			align-items: center;
		}

		&.justify-content-center {
			justify-content: center;
		}
	}
}

.home #primary {
	padding-top: 60px;
}

.row {
	padding-top: 90px;
	padding-bottom: 90px;

	&.no-pad-top {
		padding-top: 0 !important;
	}

	&.no-pad-bottom {
		padding-bottom: 0 !important;
	}

	&.page-content {
		padding-top: 30px;
	}

	.row-inner {
		display: flex;
		div[class^='col'] {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.sticky-bottom {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    left: 15px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    z-index: 1000;
	    background-color: #fff;
	}

	.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
		@include media-breakpoint-down(md) {

			&:not(:last-child) {
				margin-bottom: 45px;
			}
		}
	}
}

.content-bottom {
	&.image-bg {
		background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/hero__footer.jpg');
		background-position: center;
		background-size: cover;
	}

	.row-inner {
		display: flex;
		flex-wrap: wrap;
	}
}

.blog-item {
	border: 1px solid $lightgrey;
	transition: $animate;
	.featured-image {
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.blog-info-wrapper {
		padding: 30px;
		h4.post-title {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 20px
		}

		.post-excerpt {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.4;
			margin-bottom: 45px
		}

		.inline-link {
			color: $black;
			transition: $animate;
		}

	}
	&:hover {
		box-shadow: 0 3px 20px #00000029;

		.blog-info-wrapper {
			.inline-link {
				color: $green;
			}
		}
	}
}

.faq-header {
	padding-right: 30px;
}

.faqs-wrapper {
	margin-top: 65px;
	.faq-item {
		&:not(:last-child) {
			margin-bottom: 35px;
		}

		.faq-question {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 20px;
		}

		.faq-answer {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: 0;
		}
	}
}

.faq-widget, .loan-widget, .single-widget {
	padding: 30px 25px;
	background-color: $lightgrey;
}


.loan-options-wrapper {
	margin-top: 45px;

	.loan-option {
		border-bottom: 1px solid $grey;
		padding-bottom: 30px;
		padding-top: 40px;

		.loan-details {
			line-height: 1.6;
		}
	}
}

#call-us {
	background-color: $purple;
	padding: 50px;
	.fad.fa-headset {
		&:before, &:after {
			color: #fff;
		}
	}
}

#address-col {
	padding: 40px;
	.fad {
		&:before, &:after {
			color: $purple;
		}
	}
}

.page-template-page-thank-you .fullscreen-section .row>.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.testimonials {
	@include media-breakpoint-down(md) {
		max-width: 100%;
	}
}

.swiper-container {
	max-width: 100%;
	.swiper-wrapper {

		.swiper-slide {
			opacity: 0;
			transition: $animate;

			@include media-breakpoint-down(md) {
				max-width: 100% !important;
				height: auto;
			}
		}

		.swiper-slide-active {
			opacity: 1;
		}
	}

	.swiper-pagination {
		text-align: left;

		.swiper-pagination-bullet {
			background-color: $grey;
		}

		&.swiper-pagination-bullets {
			bottom: -2px;
		}
	}
}

.testimonial-wrapper {
	.testimonial-slide {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	.testimonial {
		font-size: 24px;
		font-style: italic;
		font-weight: 400;
		line-height: 1.2;
		color: $green;
	}
}

.post-type-archive-video {
	.video-post {
		.image_wrapper {
			transition: $animate;
		
			&:hover {
				box-shadow: 0 6px 20px $grey;
			}
		}
	}
}

.blog {

	

	.page-title {
		margin-bottom: 35px;
	}
	.page-subheader {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 15px;
	}
}

.blog-list-wrapper {
	.row {
		padding-top: 0;

	}

	.post-wrapper {
		padding-bottom: 30px;
		padding-top: 35px;

		border: none;
		border-top: 3px solid $lightgrey;
		transition: border-color .3s ease-in-out;

		&:hover {
			border-color: $green;
		}

		.post-title {
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 15px;
			font-weight: 800;
		}

		.posted-on {
			font-size: 14px;
			font-weight: 400;
			font-style: italic;
			color: $grey;
			line-height: 1.2;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.3;
			color: $black;
			margin-top: 15px;
		}
	}
}

#video-posts-list {
	.video-post {
		margin-bottom: 60px;
		.video-title {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 700;
			transition: $animate;
			margin-top: 15px;
			padding: 0 10px;

			&:hover {
				.video-title {
					color: $green;
				}
			}
		}

		.guest-star {
			padding: 0 10px;
		}

		
	}
}

.navigation.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	h2 {
		display: none;
	}

	.nav-links {
		display: flex;
		justify-content: center;

		.page-numbers {
			font-size: 18px;
			line-height: 1.2;
			padding: 8px 12px;

			border: 2px solid $green;
			border-radius: 4px;
			color: $purple;

			transition: $animate;

			margin-bottom: 0;

			&:not(:last-child) {
				margin-right: 15px;
			}

			&.current {
				background-color: $green;
				color: $white;
			}

			&:hover {
				background-color: $green;
				color: $white;
			}
		}


	}
}
.green-bg {
	h2.section-title, p {
		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}

	div.cta-link-wrapper {
		.cta-icon-link {
			@include media-breakpoint-down(md) {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			i.fas, i.fab, i.fal, i.fad {
				@include media-breakpoint-down(md) {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}
	}
}
