header .flex-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}


.navbar {
	background-color: $white;
	box-shadow: #AAAAAA26 0 2px 6px;

	@include media-breakpoint-down(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}

	@include media-breakpoint-up(sm) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include media-breakpoint-up(md) {
		padding-left: 60px;
		padding-right: 60px;
	}

	@include media-breakpoint-up(lg) {
		padding-left: 100px;
		padding-right: 100px;
	}

	.navbar-inner {
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		display: flex;

		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&.navbar-expand-lg .navbar-nav {
		.nav-link {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 2rem;
			padding-right: 2rem;
			margin-bottom: 0;

			font-family: $paragraph-font;
			font-size: 15px;
			line-height: 1.3;
			color: $black;
			transition: $animate;


			&:hover {
				color: $green;
			}
		}
	}

	p {
		margin-bottom: 0;
	}

	li.menu-item-has-children {
		&#menu-item-184 {
			.dropdown-menu, .dropdown-menu:hover {
				display: block;
				opacity: 0;
				transition: all .6s ease-in;
				width: inherit;
				padding-top: 0;
				padding-bottom: 0;
				margin-top: 15px;
				margin-left: .5rem;
			}

			&:hover {
				.dropdown-menu, .dropdown-menu:hover {
					display: block;
					opacity: 1;
				}
			}
		}

		.dropdown-menu {
			border-radius: 0;

			.nav-item {

				&:not(:last-child) {
					border-bottom: 2px solid $lightgrey;
				}

				.dropdown-item {
					padding: 0;
					margin-bottom: 0;
					padding: 1rem 2rem;
					transition: $animate;
				}
			}
		}
	}
}

.navbar-left {
	.logo-wrapper {
		.gateway-logo {
			@include media-breakpoint-down(sm) {
				max-height: 150px;
				width: auto;
			}
		}
	}

	&.col-sm-12 {
		@include media-breakpoint-down(md) {
			flex-basis: 50%;
		}
	}
}

.navbar-right {
	.nav-wrapper {
		flex-grow: 10;
	}

	.md-hidden {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.contact-cta {
		border-left: 2px solid #D6D6D6;
		flex-grow: 1;

		.black a {
			color: $black;
			transition: $animate;

			&:hover {
				color: $green;
			}
		}
	}

	&.col-sm-12 {
		@include media-breakpoint-down(md) {
			flex-basis: 50%;
		}
	}

}


#mobile-navigation {
	padding-left: 30px;
	padding-right: 30px;

	display: block;
	transition: .6s ease-out;

	position: absolute;
	background-color: $white;
	margin-left: -15px;
	width: 100vw;
	box-shadow: #AAAAAA26 0 2px 6px;

	@include media-breakpoint-up(md) {
		width: auto;
	}

	&:not(.show) {
		bottom: 100vh;
	}

	&.show {
		top: 100px;
	}

	.row {
		padding-top: 35px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.col-sm-6 {
			flex-basis: 48%;
		}
	}

	.col-sm-6 {
		margin-bottom: 35px;
		#main-nav {
			ul {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				padding-left: 0;
			}

			.nav-link {
				padding-left: 0;
				padding-right: 0;
				font-size: 13px;
				line-height: 2;
				color: $grey;
				font-weight: 700;

				&:hover, &:actve {
					color: $green;
				}
			}
		}
	}

	.menu-header {
		font-size: 14px;
		font-weight: 700;
		line-height: 2;
		margin-bottom: 20px;
	}

	.social-row {
		.fab {
			font-size: 1.5em;
			margin-right: 15px;
		}
	}
}
