@mixin centerFlex() {
	text-align: left;
	display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

@mixin interiorJumbo() {
	padding: 230px 0;
	@media (max-width: 1280px) { padding: 220px 0; }
	@include media-breakpoint-down(sm) {
		padding: 110px 0;
	}
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;	  
}

@mixin backgroundCover() {
	background-size: cover;
	background-position: center;
}

$ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
$ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";

// Responsive Mixins
@mixin respond($media) {
  @if $media == desktop {
    @media only screen and (min-width: $medium-tablet-device-width + 1) and #{$desktop-only-breakpoint} { @content; }
  }
  @else if $media == ipad-pro-portrait {
    @media only screen and #{$ipad-pro-portrait-breakpoint} { @content; }
  }
  @else if $media == ipad-pro-landscape {
    @media only screen and #{$ipad-pro-landscape-breakpoint} { @content; }
  }
  // etc
}

// Global Spacing Mixin

@mixin gspacing($type) {
  @if $type == section {
    margin-top: 15px;
    margin-bottom: 15px;
    @include media-breakpoint-down(md) { 
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  @if $type == cta {
    margin-top: 50px;
    margin-bottom: 50px;
    @include media-breakpoint-down(md) { 
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @if $type == row {
    margin-top: 100px;
    margin-bottom: 100px;
    @include media-breakpoint-down(md) { 
      margin-top: 54px;
      margin-bottom: 54px;
    }
  }
}
