h1,
.h1,
.title-1,
.page-title {
	font-family: $heading-font;
	font-size: 44px;
	font-weight: 800;
	line-height: 1.2;
	text-align: left;
	color: $white;
	margin-bottom: 10px;
	text-transform: none;
	letter-spacing: 1.1px;

	@include media-breakpoint-down(md) {
		font-size: 36px
	}

	&.hero-header {
	
		font-family: $heading-font;
		font-size: 72px;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		color: $white;
		margin-bottom: 30px;
		letter-spacing: 0.05em;
		text-transform: none;

		@include media-breakpoint-down(md) {
			font-size: 48px;
		}
	}

	&.purple, *.black {
		color: $purple;
	}

}

h2,
.h2,
.title-2,
.section-title {
	font-family: $paragraph-font;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.1;
	text-align: left;
	color: $black;
	margin-bottom: 20px;
	letter-spacing: 0.4px;

	@include media-breakpoint-down(md) {
		font-size: 26px;
		line-height: 1.3;
	}

	&.small {
		font-size: 26px;
		line-height: 1.3;
		font-weight: 800;

		@include media-breakpoint-down(md) {
			font-size: 20px;
		}

	}
}

h3,
.h3,
.title-3,
.subsection-title {
	font-family: $paragraph-font;
	font-size: 30px;
	font-weight: 800;
	line-height: 1.2;
	text-align: left;
	color: $black;
	margin-bottom: 45px;
	letter-spacing: .3px;

	@include media-breakpoint-down(md) {
		font-size: 22px;
	}

	&.small {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 800;
		margin-bottom: 15px;
		color: $black;
	}

	&.loan-title {
		font-size: 20px;
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}

h4,
.h4,
.title-4,
.section-subtitle {
	font-family: $heading-font;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.1;
	text-align: left;
	letter-spacing: normal;
	color: $black;

	@include media-breakpoint-down(md) {
		font-size: 20px;
	}
}

h5,
.h5,
.title-5 {
	font-family: $paragraph-font;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	text-align: left;
	color: $black;
	margin-bottom: 30px;
	letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6, p, span {
	&.white {
		color: $white;
	}

	&.green {
		color: $green;
	}

	&.black, &.purple {
		color: $purple;
	}
}

body, p {
	font-family: $paragraph-font;
	font-size: 18px;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: normal;
	color: $black;

	&.small {
		font-family: $paragraph-font;
		font-size: 15px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: normal;
		color: $black;
		margin-bottom: 20px;
	}

	&.copyright {
		color: $grey;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2;

		a {
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
			margin-bottom: inherit;
			transition: $animate;

			&:hover {
				color: $green;
			}
		}
	}
}

p:not(:last-child) {
	margin-bottom: 30px;
}

a{
    font-family: $paragraph-font;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: $green;
	margin-bottom: 20px;
	text-decoration: none;

	&:hover{
		color: $green;
		text-decoration: none;
	}
	
	

	&.animate-out-right{
		&:before, &:after {
			background-color: $yellow;
			content: "";
			height: 3px;
			left: 0;
			width: 175px;
			bottom: 0;
			position: absolute;
			transition: $animate;
			margin-left: 12px
		}

		&:hover {
			&:before, &:after {
				width:0;
				left: 176px;
			}
		}
	}

	&.inline-link {
		&.white {
			color: $white;
			transition: $animate;

			&:hover {
				color: $green;
			}
		}
	}

}


a:active,
a:focus {
	color: $green;
}

.typography__table {
	th, td {
		border-bottom: 1px solid #000;
		padding: 15px 0;
	}
}

#result-header-1-dt {
	width: 33%;
	border-top: 1px solid #000;

}
#result-header-1-dd {
	width: 66%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;

	strong {
		font-weight: 700;
	}
	span {
		font-weight: 400;
	}
}

.green-bg {
	div.cta-icon-link {
		color: $white;
		text-decoration: none;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		font-weight: 500;

		.fas, .fa, .fab {
			margin-right: 10px;
			font-size: 1.5em;
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		color: $white;
	}
}

.underline-link-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0;
	.underline {
  		padding: 0;
		transition: $animate;
	  	position: relative;
	  	margin-bottom: 0;

	  	&.yellow {
	  		&:before {
	  			background-color: $yellow;
	  		}
	  	}

	  	&:before {
	        content: "";
	        position: absolute;
	        bottom: -10px;
	        width: 0px;
	        height: 3px;
	        margin: 3px 0 0;
	        transition: $animate;
	        transition-duration: 0.75s;
	        opacity: 0;
	        background-color: $green;
	    }

		&.underline-lro {
			&:before {
				width: 95%;
				opacity: 1;
			}
		}
		&.underline-lro2 {
			&:before {
				width: 100%;
				opacity: 1;
			}
		}
	}
	i.fas {
  		opacity: 0;
  		transition: $animate;
  		margin-left: 5px;
  	}
    &:hover {
      	cursor: pointer;
  		
  		.underline {
        	&:before{
        		width: 100%;
        		opacity: 1;
        	}

	        &.underline-lro, &.underline-lro2 {
				&:before {
					opacity: 0;
					right: 0;
					width: 0;
				}
	        }
      	}
		i.fas {
			opacity: 1;
		}
	}
}

