/* Colors */
$purple: #291842;
$lightpurple: #8e899f;
$black: $purple;
$white: #fff;
$grey: #939598;
$lightgrey: #f5f5f5;
$yellow: #e5ae23;
$green: #92c83e;

$heading-font: Roboto, sans-serif;
$paragraph-font: Roboto, sans-serif;

$animate: all .3s ease-in-out;
