/*==================================
Gravity Forms Helper
==================================*/

.gform_fields {
  @extend .list-unstyled;
  @extend .row;
 
  input, select, textarea {
    @extend .form-control;
  }
 
  textarea {
    height: auto;
  }
}

.form-control {
  &::-webkit-input-placeholder { color: $taupe; font-size: 15px; font-weight: 300; }
  &:-moz-placeholder { color: $taupe; }  /* Mozilla Firefox 4 to 18 */
  &::-moz-placeholder { color: $taupe; }  /* Mozilla Firefox 19+ */
  &:-ms-input-placeholder { color: $taupe; }  /* Internet Explorer 10-11 */
  &::-ms-input-placeholder { color: $taupe; }  /* Microsoft Edge */
}




.gfield_description {
  @extend .alert;
}
 
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
 
.validation_message {
  @extend .alert;
  @extend .alert-success;
}
 
 .gform_footer {
  text-align: left;
  
  .gform_button {
    @extend .btn;
    background: $orange;
    padding: 15px 65px;
    margin-bottom: 0; 
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
  }
 }

 
.gfield_required {
  color: $navy;
}
 
.gform_wrapper ul.gfield_radio li, .gform_wrapper ul.gfield_checkbox li {
  @extend .form-check;
}
 
.gform_validation_container {
  display: none;
}
 
.gfield_error .ginput_container {
  margin-bottom: 10px;
}

.gform_body {
  .gfield_label {
    display: none;
  }

  label {
    display: none;
  }
}

/** Gravity Forms */
.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper li {
  @extend .form-group;
  margin-bottom: 0;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
  width: 100%;
  margin-bottom: 20px;
  border: 0px;
  padding: 10px 25px;
  border-radius: 0;
  background: #F5F6F6;
}

.gform_wrapper textarea {
  height: 80px;
}

.gform_wrapper input:focus[type="text"],
.gform_wrapper textarea:focus {
  //background-color: transparent;
}



 

.gform_wrapper .button {
  @extend .btn;
}

.gform_wrapper .gfield_error {
  .gfield_label {
    @extend .alert-danger;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  display: none;
}

.gform_wrapper ul.gfield_checkbox li {
    position: relative;
    display: block;
    padding-left: 0;
}

.screen-reader-text {
  color: $light-grey;
  font-weight: 400;
  font-size: 1rem;
}


.label__username {
  color: $blue;
  font-size: 14px;
}

.gf_invisible {
  input {
    display: none !important;
  }
}
