.global__spacing {
	@include gspacing(section);
	background-color: $white;
	min-height: 300px;
	width: 100%;
	padding: 30px;
	@include centerFlex();
	h1, p, h2, h3 {
		text-align: center;
	}
}

.cta-row{
	background-color: $green;
	padding-top: 30px;
	padding-bottom: 30px;
}

.center{
	text-align: center;
}

.ml-auto{
	margin-left: auto !important;
}

.mr-auto{
	margin-right: auto !important;
}
