.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #f8f8f8;
  color: #333;
  box-shadow: 0 0 5px 5px #ebebeb inset;
}
.sidr .sidr-inner {
  padding: 50px;
}

.sidr.right {
  left: auto;
  right: -400px;
}

.sidr-inner {

  #close-menu {
    position: absolute;
    right: 50px;
    color: #000;
    .fas {
      font-size: 30px;
    }
    
  }

  img {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 45px;
  }

  a {
    color: $mediumgray;
     &:hover {
      color: $green;
    }
  }

  .fa-ul {
    margin-left: 20px;

    li {
      margin-bottom: 30px;
    }

  }

  .sidebar__social {
    padding-left: 0;
    li {
      display: inline-block;
    }
    i {
      font-size: 28px;
      padding-right: 15px;
    }
    a {
      color: #000;
      &:hover {
        color: $green;
      }
    }
  }

}

#right-menu {
  color: $white;
  font-size: 24px;
  margin-top: 8px;
}